<%= form_with(model: associate, url: collaborators_path, local: true) do |form| %>
  <% if associate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associate.errors.count, "error") %> prohibited this associate from being saved:</h2>

      <ul>
        <% associate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <div class="field">
      <%= form.text_field :first_name, placeholder: "Nombres" %>
    </div>

    <div class="field">
      <%= form.text_field :last_name, placeholder: "Apellidos" %>
    </div>

    <div class="field">
      <%= form.text_field :cphone, placeholder: "Teléfono celular" %>
    </div>

    <%= form.submit class: "btn"%>
  </div>
<% end %>
