<p id="notice"><%= notice %></p>

<h3>Colaboradores</h3>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Teléfono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @associates.each do |associate| %>
      <tr>
        <td><%= associate.first_name %></td>
        <td><%= associate.last_name %></td>
        <td><%= associate.cphone %></td>
        <td><%= link_to 'Show', collaborator_path(associate) %></td>
        <td><%= link_to 'Edit', edit_collaborator_path(associate) %></td>
        <td><%= link_to 'Destroy', collaborator_path(associate), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo colaborador', new_collaborator_path %>
