<p id="notice"><%= notice %></p>
<p>
  <strong>Nombres:</strong>
  <%= @associate.first_name %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @associate.last_name %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @associate.cphone %>
</p>

<%= link_to 'Edit', edit_collaborator_path(@associate) %> |
<%= link_to 'Back', collaborators_path %>
