<p id="notice"><%= notice %></p>


<table class="stripped highlight">
  <thead>
    <tr>
      <th>Associates</th>
      <th>Skill</th>
      <th>Due date</th>
      <th colspan="2"></th>
    </tr>
  
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.associates %></td>
        <td><%= skill.due_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>