<p id="notice"><%= notice %></p>

<p>
  <strong>Associates:</strong>
  <%= @skill.associates %>
</p>

<p>
  <strong>Certifications:</strong>
  <%= @skill.certifications %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @skill.due_date %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
