<div data-controller="shifts">

  <%= form_with(model: shift, local: true) do |form| %>
    <% if shift.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>
        <ul>
        <% shift.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field ">
      <%= form.text_field 'start_time_d', placeholder:"Dia inicio", class: "datepicker" %>
    </div>

    <div class="input-field ">
      <%= form.text_field 'start_time_h', placeholder:"Hora inicio", class: "timepicker" %>
    </div>


    <div class="input-field">
      <%= form.text_field 'end_time_d', placeholder:"Dia Finalizacion",class: "datepicker" %>
    </div>

    <div class="input-field">
      <%= form.text_field 'end_time_h', placeholder:"Hora Finalizacion",class: "timepicker"%>
    </div>

    <div class="input-field">
      <%= form.label :associates_number %>
      <%= form.number_field :associates_number, min: 1 %>
    </div>
    <div class= "input-field">
      <%= form.collection_select :job_id, @jobs, :id, :name %>
    </div>
    <div class="actions">
      <button type="submit" class="waves-effect waves-light btn">
        Crear <i class="material-icons">border_color</i>
      </button>
    </div>
  <% end %>
</div>
