<p id="notice"><%= notice %></p>
<div class="row">
<table class="stripped">
  <thead>
    <tr>
    <br>
      <th>Inicio</th>
      <th>Término</th>
      <th>Cargo</th>
      <th>Vacantes</th>
      <th>Postulantes</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</div>
  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.start_time %></td>
        <td><%= shift.end_time %></td>
        <td><%= shift.job.name %></td>
        <td><%= shift.associates_number %></td>
        <td><%= shift.schedules.count %></td>
        <td><%= link_to 'Show', shift %></td>
        <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
        <td><%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Shift', new_shift_path, class:"btn waves-effect waves-light" %>


<div data-controller="hello">
  <input data-target="hello.name" data-action="keyup->hello#greet" type="text">
  <span data-target="hello.output">
  </span>
</div>