<div class="row">
  <div class="col s10 offset-s1">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s8 offset-s2 card" style="padding: 24px;">
            <h5>Crear Turno:</h5>
            <hr>
            <%= render 'form', shift: @shift %>

            <br>
            <%= link_to 'Volver', shifts_path, class: "waves-effect waves-light btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
