<div class="row">
  <div class="col s10 offset-s1">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s8 offset-s2 card" style="padding: 16px;">
            <h5>Turno:</h5>
            <p>
              <strong>Inicio:</strong>
              <br>
              <%= @shift.start_time.try(:strftime, "%d/%m/%Y %H:%M") %>
            </p>

            <p>
              <hr>
              <strong>Termino:</strong>
              <br>
              <%= @shift.end_time.try(:strftime, "%d/%m/%Y %H:%M") %>
            </p>

            <p>
              <hr>
              <br>
              <strong>Colaboradores requeridos:</strong>
              <%= @shift.associates_number %>
              <hr>
            </p>
            <br>

            <%= link_to 'Editar', edit_shift_path(@shift), class: "waves-effect waves-light btn" %>
            <%= link_to 'Volver', shifts_path, class: "waves-effect waves-light btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
