<div class="row">
  <div class="col s6 offset-s3">
    <div class="row">
      <div class="col s12 card" style="padding: 16px;">
        <br>
        <h2 style="text-align: center">Ingreso Colaboradores</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {style: "padding: 24px;"}) do |f| %>
          <div class="field">
            <%= f.label :rut %><br />
            <%= f.text_field :rut, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions" style="text-align: center">
            <br>
            <%= f.submit "Ingresar", class: "waves-effect waves-light btn" %>
          </div>
        <% end %>

        <%= render "associates/shared/links" %>
      </div>
    </div>
  </div>
</div>
