<div class="row">
  <div class="col s10 offset-s1">
    <div class="row">
      <div class="col s12">
        <h4 style="text-align: center">Hola: <%= current_associate.full_name %></h4>
        <div class="row">
          <div class="col s8 offset-s2">
            <h5>Turnos Disponibles:</h5>
            <hr>
            <% @shifts.each do |shift| %>
              <div class="card col s12" data-controller="schedules">

                <div class="card-content">
                  <h3><%= shift.job.name %></h3>
                  <p><%= "#{shift.start_time.try(:strftime, "%d/%m/%Y %H:%M")} - #{shift.end_time.try(:strftime, "%d/%m/%Y %H:%M")}" %></p>
                  <p><%= shift.job.description %></p>
                  <p data-target="schedules.msg"></p>
                </div>
                <div class="card-action">
                  <button class="waves-effect waves-light btn" data-action="click->schedules#apply" data-target="schedules.apply" data-shift-id="<%=shift.id%>">Inscribirse</button>
                </div>

              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
