<div class="row">
  <div class="col s10 offset-s1">
    <div class="row">
      <div class="col s12">
        <h4 style="text-align: center">Hola: <%= @associate.full_name %></h4>
        <div class="row">
          <div class="col s8 offset-s2">
            <h5>Mis Turnos:</h5>
            <hr>
            <% @associate.schedules.each do |schedule| %>
              <div class="card col s12" data-controller="shift">

                <div class="card-content">
                  <h3><%= schedule.shift.job.name %></h3>
                  <p><%= "#{schedule.shift.start_time.try(:strftime, "%d/%m/%Y %H:%M")} - #{schedule.shift.end_time.try(:strftime, "%d/%m/%Y %H:%M")}" %></p>
                  <p><%= schedule.shift.job.description%></p>
                  <p data-target="shift.msg"></p>
                </div>
                <div class="card-action">
                  <button class="waves-effect waves-light btn" data-action="click->schedules#apply" data-target="schedules.apply" data-shift-id="<%=schedule.shift.id%>">Desinscribirse</button>
                </div>

              </div>
            <% end %>
            <% if not @associate.schedules.present? %>
              <div class="card col s12" style="text-align: center;">
                <h3>No tienes turnos registrados<h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
