<% if current_associate %>
  <li>Colaborador:</li>
  <li><%= link_to "Turnos", shift_offers_path %></li>
  <li><%= link_to "Calendario", associates_path %></li>
  <li><%= link_to "Salir", destroy_associate_session_path, method: :delete %></li>
<% end %>
<% if current_admin %>
  <li>Administrador:</li>
  <li><%= link_to "Colaboradores", associates_path %></li>
  <li><%= link_to "Turnos", shifts_path %></li>
  <li><%= link_to "Trabajos", jobs_path %></li>
  <li><%= link_to "Sucursales", locations_path %></li>
  <li><%= link_to "Certificaciones", certifications_path %></li>
  <li><%= link_to "Salir de admin", destroy_admin_session_path, method: :delete %></li>
<% end %>