<!DOCTYPE html>
<html>
  <head>
    <title>Workmart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
      <!--
    <div class="nav-wrapper indigo darken -4">
      <%= image_tag "spark", height: "100%", style: "margin-left: 10px" %>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <% if current_associate %>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Turnos", shift_offers_path %></li>
          <li><%= link_to "Calendario", associates_path %></li>
          <li><%= link_to "Salir", destroy_associate_session_path, method: :delete %></li>
        </ul>
      <% end%>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><%= link_to "Turnos", shift_offers_path %></li>
    <li><%= link_to "Calendario", associates_path %></li>
    <li><%= link_to "Salir", destroy_associate_session_path, method: :delete %></li>
  </ul>
      -->


      <div class="nav-wrapper indigo darken -4">
        <a href="#!" class="brand-logo" style="margin-left: 78px">WorkMart</a>
        <%= image_tag "spark", height: "100%", style: "margin-left: 10px" %>
        <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <ul class="sidenav" id="sidenav">
      <%= render partial: '/layouts/links' %>
    </ul>

    <%= yield %>
  </body>
</html>
